<footer class="bg-dark text-white">

<!-- commenting out elements of original footer -->
<!--
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
   </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}: <br />
              {{- site.description | escape -}}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
    </div>

  -->
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
       <style>
         h6{
           font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
           font-size: 1.2rem;
           margin-top: 0.5rem;
         }
    </style>
  
      <style>
    .dark-bg-text{
      color:#fff;
      text-decoration: none;
        }
        .dark-bg-links:hover
        {
          color:#0000FF;
         text-decoration: none;

        }
    </style>
    <style>
    .dark-bg-links{
      color:#fff;
      text-decoration: none;
        }
        .dark-bg-links:hover
        {
          color:#0000FF;
         text-decoration: none;

        }
    </style>
<div class="container">
      <div class="row">
        <div class="col-md-4">
          <h6 class="dark-bg-text">Project</h6>
            <a class="dark-bg-links" href="http://applied-anthro.com/site/about/" class="item">Context of Inquiry</a><br />
            <a class="dark-bg-links" href="#" class="item">Site Map</a><br />
            <a class="dark-bg-links" href="http://applied-anthro.com/site/bio/" class="item">Authorship & Attribution</a><br />
        </div>
        <div class="col-md-4">
          <h6 class="dark-bg-text">Legal</h6>
            <a class="dark-bg-links" href="./license.md" class="item">Licences</a><br />
            <a class="dark-bg-links" href="#" class="item">Terms and Conditions</a><br />
            <a class="dark-bg-links" href="./disclaimer.md" class="item">Caveats & Disclaimers</a>
        </div>

        <div class="col-md-4">
          <h6 class="dark-bg-text">Let's be in touch!</h6>
                    <p><a class="dark-bg-links" href="mailto:aaron@categori.se"><i class="far fa-envelope"></i></a> <a href="https://github.com/aaronkyle/social-development"><i class="fab fa-github-square github"></a></i> <i class="fab fa-linkedin"><a href="https://www.linkedin.com/in/akdennis/"></i></a></p>
          <!--<p><sup>Please reach out if there's anything in here that piques your interest.</sup></p>--?
        </div>
      </div>
      </div>
  
</footer>
